body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Benne', serif;
  font-size: 3rem;
  margin: 1.5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red; 
  
  background-image: url('images/burger.jpg');
  background-size: 100%; /* To fill the dimensions of container (button), or */
  background-size: 200px auto; 
}

.green {
 background-color: green;
 background-image: url('images/pancakes.jpg');
 background-size: 100%; /* To fill the dimensions of container (button), or */
 background-size: 200px auto;
}

.blue {
  background-color: blue;
  background-image: url('images/pizza.jpg');
 background-size: 100%; /* To fill the dimensions of container (button), or */
 background-size: 200px auto;
}

.yellow {
  background-color: yellow;
  background-image: url('images/spaghetti.jpg');
 background-size: 100%; /* To fgill the dimensions of container (button), or */
 background-size: 200px auto;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
